[2016-11-17 21:29] khuck opened #3 "remove MPI timers"
MPI_WTime() should be replaced with std::chrono and the MPI dependency should be removed.

[2016-11-17 21:30] khuck opened #4 "Move SCF to initialize()"
main() sets up the problem (either generating it from initial conditions by calling initialize() or by loading it from a checkpoint file) and then call node_server::start_run(). node_server::start_run() takes a bool that specifies whether SCF should be run. SCF should only be run if the problem was generated from initial conditions, so it seems like SCF should probably be in initialize(), or be ca

[2016-11-17 21:31] khuck opened #5 "Move node_client code from node_server_actions*.cpp"
Parts of node_client live in node_server_actions_*.cpp - the parts which need a declaration or definition of the server actions. It should be possible to put these into node_client.cpp and just use action declarations.

[2016-11-17 21:32] khuck opened #6 "The problem type shouldn't be a global variable with free functions for setting it."
The problem type shouldn't be a global variable with free functions for setting it.

[2016-11-17 21:32] khuck opened #7 "The fenv.h setup should be moved out of initialize() to a new action which is invoked on all localities."
The fenv.h setup should be moved out of initialize() to a new action which is invoked on all localities.

[2016-11-17 21:32] khuck opened #8 "Find and replace vector>s, vector>>, etc with proper multidimensional arrays."
Find and replace vector>s, vector>>, etc with proper multidimensional arrays.

[2016-11-17 21:32] khuck opened #9 "Lift multidimensional indexing calculations out of the innermost loop in multidimensional loops"
Lift multidimensional indexing calculations out of the innermost loop in multidimensional loops to avoid the Intel compiler vectorizing the index calculations instead of the math.

[2016-11-17 21:33] khuck opened #10 "Remove the hpx::mutex = hpx::lcos::local::spinlock alias."
Remove the hpx::mutex = hpx::lcos::local::spinlock alias.

[2016-11-17 21:33] khuck opened #11 "Futurization: Replace fork-join asynchrony with continuation-passing-style asynchrony."
Futurization: Replace fork-join asynchrony with continuation-passing-style asynchrony.

[2016-11-17 21:33] khuck opened #12 "node_client action-invoking methods should be const correct."
node_client action-invoking methods should be const correct.

[2016-11-17 21:33] khuck opened #13 "Replace std::list with std::vector where appropriate."
Replace std::list with std::vector where appropriate.

[2016-11-17 21:34] khuck opened #14 "Write global configuration class"
There's a mix of global variables (problem function) and static members of node_server (gravity_on flag). All of this state should be abstracted to a single global configuration class.

[2016-11-17 21:34] khuck opened #15 "Audit shared_ptr<> vs unique_ptr<> choices."
Audit shared_ptr<> vs unique_ptr<> choices.

[2016-11-17 21:35] khuck opened #16 "Fix logic for "solve gravity once, no hydro""
There seems to be a desire for a "solve gravity once, no hydro" mode; the logic for this is split between main and node_server::start_run() in an odd way.

[2016-11-17 21:35] khuck opened #17 "In the FMM code, are the interaction lists padded to SIMD vector width? If not, they should be."
In the FMM code, are the interaction lists padded to SIMD vector width? If not, they should be.

[2016-11-17 21:35] khuck opened #18 "Put everything from taylor.hpp into a header."
Put everything from taylor.hpp into a header.

[2016-11-17 21:36] khuck opened #19 "Make compute_ilist constexpr if possible"
Make compute_ilist constexpr if possible, even if heroics are needed. We have way too much data movement in the gravity solve (compute_interactions()) - our FLOPS/byte ratio is really low. We've got to reduce working set size wherever possible.

[2016-11-17 21:37] khuck opened #20 "Questions"
- What does regrid(gid_type root, bool rebalance_only) do when rebalance_only is true?
- Why do we regrid(gid_type root, true) when loading from a checkpoint file? Presumably it was load balanced before it the checkpoint file was written?
- Why pass the root_gid to regrid() instead of storing it as a member in node_server? Can refinining and rebalancing be separated into two functions (instead of

[2016-11-17 21:38] #3 closed

[2016-11-17 21:38] #13 closed

[2016-11-17 22:50] khuck opened #21 "Optimize Taylor Expansion"
See: [Hartmut's explanation of the expansion](https://github.com/STEllAR-GROUP/octotiger/wiki/Taylor-Indicies).

From a first analysis, the function taylor<>::set_basis is clearly
dominating the execution time (~25-30% of the overall execution time is
spent in this function). It essentially consists of 3 loop-groups structured
like:

[code]

(NDIM == 3)

If we manually unroll the loops like this:

[2016-11-17 22:52] khuck commented on #21
Also, "the temporary needs to be factored out." - Bryce

[2016-11-17 22:55] brycelelbach commented on #21
Also, the temporary XX needs to be factored out; currently the code is L1
bandwidth bound.

Indexing calculations also need to belifted

Additionally, there are some loop local temporaries that spill; lifting the
index calculations may prevent spilling. Confirm afterwards.

On Thursday, November 17, 2016, Kevin Huck <notifications@github.com> wrote:

--
Bryce Adelstein Lelbach aka wash
Lawrence Be

[2016-11-19 15:02] hkaiser commented on #21
For certain types of loop groups we can apply certain simplifications. For instance, this (`A` and `XX` are taylor objects):

    for (integer a = 0; a != NDIM; a++) {
        A(a) = XX(a) * d1;
        for (integer b = a; b != NDIM; b++) {
            A(a, b) = XX(a, b) * d2;
            for (integer c = b; c != NDIM; c++) {
                A(a, b, c) = XX(a, b, c) * d3;
                for (inte

[2016-11-21 08:08] sithhell commented on #11
It is not only to switch to continuation-passing-style. But also about avoiding to traverse the tree completely for each operation. I am working on fixing that.

[2016-11-21 20:29] DavidPfander-UniStuttgart opened #22 "datapar_execution + zip iterator: lambda arguemnts aren't references"
I wanted to write a datapar_execution algorithm that modifies the input tuple. But it seems that the argument isn't of a reference type with datapar_execution. The following example works with "seq" execution policy, but produces incorrect results with "datapar_execution" policy.

[code]
Expected result:
[code]

Actual result:
[code]

[2016-11-21 20:48] brycelelbach commented on #22
Why are you using a zip iterator and for_each? You could use transform
(using the same sequence for the 2 input ranges and output range) to
achieve the same effect.

On Mon, Nov 21, 2016 at 12:29 PM, DavidPfander-UniStuttgart <
notifications@github.com> wrote:

--
Bryce Adelstein Lelbach aka wash
Lawrence Berkeley National Laboratory
ISO C++ Committee Member
CppCon and C++Now Program Chair
--
Noct

[2016-11-21 21:11] hkaiser commented on #22
@DavidPfander-UniStuttgart you'd need to pass the argument to the lambda by reference for correct results:
[code]

[2016-11-21 21:36] DavidPfander-UniStuttgart commented on #22
Thanks for your input.
@brycelelbach: This is a simplified example, the actual code has 9 input sequences.
@hkaiser: Did that, doesn't compile.

[code]

[code]

[2016-11-21 22:15] DavidPfander-UniStuttgart opened #23 "Can't compile octotiger with gcc+datapar enabled"
@hkaiser:
Compiling octotiger with datapar (Vc-variant) doesn't compile with gcc 6.2.
With the Vc-types enabed, in https://github.com/STEllAR-GROUP/octotiger/blob/master/src/grid_output.cpp#L282:

				cnt += foo(&(G[iii][0]), sizeof(real), NGF, fp) * sizeof(real);

GCC complains that I take the address of a temporary, because the bracket operator on a Vc-type returns the underlying type (aka doubl

[2016-11-21 22:27] brycelelbach opened #24 "simd_vector should use scalar-vector ops instead of converting scalars to vectors"
Currently, scalars are converted to vectors and vector-vector operations are used scalars and vectors are mixed. simd_vector should be updated to use actual scalar-vector intrinsics and the appropriate overloads should be added.

[2016-11-21 22:28] brycelelbach opened #25 "simd_vector should be constexpr"
simd_vector should have a constexpr constructor and possibly constexpr operations.

[2016-11-21 22:48] hkaiser commented on #23
This should be fixed similarly to: https://github.com/STEllAR-GROUP/octotiger/blob/master/src/grid_output.cpp#L316

[2016-11-21 22:49] hkaiser commented on #25
I don't think we should start modifying the original `simd_vector` implementation. We should move entirely to the Vc library.

[2016-11-21 22:49] hkaiser commented on #24
I don't think we should start modifying the original  simd_vector  implementation. We should move entirely to the Vc library.

[2016-11-21 22:52] brycelelbach commented on #25
Currently simd_vector is used both to implement vector paralleism, **and** to represent a vector of 8 elements. Do we intend for the Vc datatype to play this dual role as well?

I'd prefer to keep simd_vector around for now, until we have the KNL avx512 support in Vc. Alternatively, I could switch my focus to making that happen ASAP.

[2016-11-22 15:55] DavidPfander-UniStuttgart commented on #23
The fix doesn't fix the problem.

In contrast to L316, stuff gets written to the vector variable, so we cannot store it in a local variable that is then thrown away. We need the underlying vector type to return a 'double &'.

[2016-11-22 17:05] DavidPfander-UniStuttgart commented on #22
Moved issue to HPX issue tracker, as I this was meant to be an HPX issue, and not an octotiger issue. Sorry about that.

[2016-11-22 17:05] #22 closed

[2016-11-23 20:49] dmarce1 opened #26 "Problem with taylor::set_basis"
There is definitely an issue with set_basis. The moving star dissipates under the new set_basis, but behaves much more reasonably under the old one. I am trying to figure out what the problem is.

[2016-11-23 20:56] dmarce1 commented on #26
There is also a different result ( though less pronounced) with the new grid_fmm.cpp...working on it.

[2016-11-23 21:00] dmarce1 commented on #26
And there are other errors somewhere else causing a difference. I'm going to step back through each change bit by bit.

[2016-11-23 21:49] brycelelbach commented on #26
Not surprised, we noticed some issues at SC. Need to get some unit tests
added.

You may want to git bisect.

On Wednesday, November 23, 2016, Dominic Marcello <notifications@github.com>
wrote:

--
Bryce Adelstein Lelbach aka wash
Lawrence Berkeley National Laboratory
ISO C++ Committee Member
CppCon and C++Now Program Chair
--
Nocturnal Language Lawyer
--

[2016-11-23 21:52] hkaiser commented on #26
Thanks @dmarce1. As said, I'm sure we broke something, please be patient with us...

[2016-12-01 14:53] khuck commented on #26
I've also found that these lines fail with Intel compilers (v17) on an ivybridge system. I get a floating point exception on line 405, but only at optimization levels of -02 or more.  I suspect that there is a loop transformation that is somehow leading to an exception. It may be related to the problems described above?

'''
    for (integer i = 0; i != simd_len; ++i) {
        if (r2[i] > 0.0) {

[2016-12-01 19:15] hkaiser commented on #26
@khuck, can you try writing this as:
[code]

which should be equivalent. Does this fail as well if datapar is enabled?

[2016-12-01 21:38] dmarce1 commented on #26
Kevin-

I think I fixed that bug with this commit:
https://github.com/STEllAR-GROUP/octotiger/commit/6850968e616b08f312ea59375653f9e42b376fab

-Dominic

On Thu, Dec 1, 2016 at 8:53 AM, Kevin Huck <notifications@github.com> wrote:

[2016-12-02 22:36] khuck opened #27 "Octotiger won't compile on KNL without Vc"
I get this error building octotiger with Intel compilers (and without Vc):

[code]

I configured HPX with:
[code]
and I configured Octotiger with:
[code]

[2016-12-03 00:54] khuck opened #28 "Octotiger crashes on cori KNL"
When I run on cori @ NERSC, I get this transient error in gdb (which I had to build myself):

[code]

[2016-12-03 00:56] hkaiser commented on #28
How did you build it?
What command line options?

[2016-12-03 00:57] khuck commented on #28
I am putting those instructions in the wiki now...

[2016-12-03 01:14] khuck commented on #28
the sequence I used to cause this bug is on this page: https://github.com/STEllAR-GROUP/octotiger/wiki/Build-Instructions#build-instructions-for-hpx-with-apex-and-octotiger-on-corinersc-for-the-knls

[2016-12-03 14:33] hkaiser commented on #28
@khuck Thanks for the detailed build instructions. Some comments:

- in order for HPX to be able to run on more than 64 processing units you need to add `-DHPX_WITH_MORE_THAN_64_THREADS=On` while configuring HPX
- Vc (master) does not directly support AVX512 yet. @mattkretz is working on implementing this on his branch: https://github.com/VcDevel/Vc/tree/mkretz/datapar. @brycelelbach reported prob

[2016-12-03 14:51] khuck commented on #28
@hkaiser The toolchain file that Thomas created for the CrayKNL specifies 512 max threads
[code]
Is that sufficient?  If not, we should add the other setting to the toolchain file.

[2016-12-03 15:06] hkaiser commented on #28
@khuck Yes, that should be sufficient. I however would suggest not to use `512` as the max number of processing units. We should use `272` instead (or something rounded up to the nearest multiple of `64 == sizeof(long)`, where `long` is most likely used to hold the bits in the `std::bitset<>` storing the CPU masks in HPX). @sithhell What's you suggestion here?

[2016-12-03 18:37] hkaiser commented on #28
@khuck, @sithhell I corrected the max number of processing units in the HPX tool chain file to 320.

[2016-12-03 22:02] sithhell commented on #28
On Samstag, 3. Dezember 2016 10:37:35 CET Hartmut Kaiser wrote:

Why? The reason to have 512 was to potentially benefit from the AVX512
instructions.

[2016-12-04 11:09] hkaiser commented on #28
@sithhell Sure, if the mask handling can utilize AVX512 this might be beneficial, I however doubt that this would significantly improve performance. I'd rather think that reducing memory bandwidth required for copying the masks around may be more important. But sure, let's do some measurements.

[2016-12-05 05:54] sithhell commented on #28
I just compiled a simple test case (using -xmic-avx512 -O3 -S):
[code]

The resulting assembly shows that the 512 bit variant compiles down to two (vector) loads and a single (vector) and resulting in approx. 11 cycles (according to the intel compiler output). While the 320 bit variant results in 35 cycles with scalar 10 loads and 5 ands. Considering that a L1 cache line of a KNL is 64 byte and 2

[2016-12-05 12:51] hkaiser commented on #28
@sithell Ok, great. I'll roll back my commit.

[2016-12-07 17:07] dmarce1 opened #29 "Runs slower with intrasubgrid paralleziation turned on for gravity solver."
In the most recent commit I added a macro that can turn on or off the parallelism within compute_*interactions* in grid_fmm.cpp and node_server.cpp. On my laptop at least Octotiger runs ~25% *slower* with the parallelism turned ON. This is for the test problem in test2.sh

[2016-12-07 22:17] hkaiser commented on #29
From what I can see, this is caused by the need to synchronize the access to `L` and `L_c`.

[2016-12-08 15:07] DavidPfander-UniStuttgart commented on #23
Has been resolved via some other issue.

[2016-12-08 15:07] #23 closed

[2016-12-08 17:18] DavidPfander-UniStuttgart opened #30 "More documentation for the hotspots would be really helpful"
I'm working on the optimization of some of the hotspots. For this it would be very helpful if more documentation were available to make it easier for me to understand the implemented algorithm.

Based on the current level of optimization, the following functions are most interesting:
- in `taylor.hpp`: `taylor<5, simd_vector>::set_basis`
- in `grid_fmm.cpp`:
  - `grid::compute_interactions`
  - `g

[2016-12-13 18:18] khuck opened #31 "Octotiger fails to compile with GCC 5.3"
When trying to build octotiger with GCC 5.3, I get compiler errors like these:
[code]

[2016-12-13 19:26] hkaiser commented on #31
Do you miss to specify the -std=c++11 flag to the compiler?

[2016-12-13 19:33] khuck commented on #31
Yes, the c++14 flag is there:

[code]

[2016-12-14 09:20] DavidPfander-UniStuttgart commented on #31
I think there is a missing semicolon before that line.

Regards,
David

On 13.12.2016 20:33, Kevin Huck wrote:

[2016-12-14 12:58] hkaiser commented on #31
It was a missing comma - doh! Should be ok now.

[2016-12-30 20:54] diehlpk commented on #30
Here are some [UML diagrams](https://github.com/STEllAR-GROUP/octotiger/wiki/UML-diagramms) for understanding the dependencies better

[2017-01-02 10:43] diehlpk commented on #30
I assume the mathematics behind the grid_fmm can be found in this article [Dehnen - A fast multipole method for stellar dynamics](https://arxiv.org/pdf/1405.2255v1.pdf)

[2017-01-05 22:23] khuck opened #32 "Octotiger Crashes on Cori with slurm problems"
When trying to run on cori KNL, I get this crash:

[code]

I got an allocation like this:
```salloc -N 1 -p debug -C knl,quad,flat -t 30:00 -A xpress```

and I ran with these options:
[code]

The slurm environment variables are:
[code]

[2017-01-06 13:59] DavidPfander-UniStuttgart opened #33 "Octotiger Crashes on initialization on cori"
Octotiger crashes on cori. I ran octotiger with

[code]
from an interactive shell allocated with

[code]

gdb tells me

[code]

Valgrind gives some additional information. It looks like the initialization of memkind fails with some nullpointer:

[code]

The HPX examples (seemingly) run correctly, although they hang at shutdown.

Any ideas?

[2017-01-06 16:43] sithhell commented on #32
Did you use hpx master? If yes, that's a known bug that should be fixed on
the knl_build branch.

Am 05.01.2017 11:23 nachm. schrieb "Kevin Huck" <notifications@github.com>:

[2017-01-06 16:55] khuck commented on #32
This was with the knl_build branch. I haven't seen that crash since, so it may be a moot point, or a transient bug.  I'll keep an eye out for it.

It is also possible that I didn't run octotiger with srun, I just called it from the command line (specifically, from gdb --args ...). Would that have an effect on the slurm code in HPX?  It looks like all of the variables have reasonable defaults, so t

[2017-01-06 20:50] khuck commented on #33
I recommend that you **NOT** load the memkind module - I don't use it and I don't see this problem. In fact, I have "module load memkind" commented out in my build script, so it is possible that it was used for an earlier build of HPX on NERSC resources.

[2017-01-06 20:51] khuck commented on #33
Also... I have seen long shutdown times on the KNLs at NERSC, but the application does terminate eventually.

[2017-01-06 21:55] sithhell commented on #33
On Freitag, 6. Januar 2017 12:51:46 CET Kevin Huck wrote:

I can confirm the long shutdown times as well. This is some bug inside of HPX
during shutdown. I haven't figured out that problem yet...

[2017-01-09 11:52] DavidPfander-UniStuttgart commented on #33
@khuck If I don't load the memkind module, jemalloc isn't detected. Right now loading the memkind module is recommended on the nersc website build instructions. Right now, I'm trying to use your new build of the gperftools.

[2017-01-09 13:16] DavidPfander-UniStuttgart commented on #33
I can now confirm that octotiger runs fine when memkind is not loaded and I use tcmalloc instead of jemalloc. I built the gperftools according to the instruction of khuck.

Should it also work with jemalloc and the memkind module?

[2017-01-09 13:18] sithhell commented on #33
On 01/09/2017 02:17 PM, DavidPfander-UniStuttgart wrote:

I am having troubles right now running cmake with the memkind module...

[2017-01-09 13:47] DavidPfander-UniStuttgart commented on #33
My recommendation:
- unload memkind and unload darshan (unload darshan in every new shell even if you already have that in your bashrc, this is a bug)
- load the exactly modules as described in main cori2 documentation http://www.nersc.gov/users/software/programming-models/hpx/stellar-hpx/
- use the script khuck provided /project/projectdirs/xpress/hpx-lsu-cori-II/scripts/build-gperftools.sh, but

[2017-01-10 12:21] DavidPfander-UniStuttgart opened #34 "octotiger crashes on my desktop"
Some recent update leads to crashes of octotiger on my desktop machine. This might especially interesting for those who recently pushed to hpx or octotiger.

I ran octotiger with:

[code]

The output was:
[code]

[2017-01-10 12:25] sithhell commented on #34
Which commits do you use?

On 01/10/2017 01:21 PM, DavidPfander-UniStuttgart wrote:

--
Thomas Heller
Friedrich-Alexander-Universität Erlangen-Nürnberg
Department Informatik - Lehrstuhl Rechnerarchitektur
Martensstr. 3
91058 Erlangen
Tel.: 09131/85-27018
Fax:  09131/85-27912
Email: thomas.heller@cs.fau.de

[2017-01-10 12:32] DavidPfander-UniStuttgart commented on #34
I'm using the current master.

Am 10. Januar 2017 13:25:33 MEZ schrieb Thomas Heller <notifications@github.com>:

--
Diese Nachricht wurde von meinem Android-Mobiltelefon mit K-9 Mail gesendet.

[2017-01-10 13:03] hkaiser commented on #34
This is not a crash (seg-fault) but an unhandled exception: ‘Resource temporarily unavailable’. But I have no idea what’s causing this. This seems to happen during shutdown, though. Could you use gdb to give us a stack backtrace, please?

Regards Hartmut
---------------
http://boost-spirit.com
http://stellar.cct.lsu.edu

[2017-01-10 16:17] DavidPfander-UniStuttgart commented on #34
When I try to collect a stack trace, the application crashes with an error that indicates that it ran out of stack memory. Even if I increase the stack size. See the attached file. What can I do?

[gdb_output.txt](https://github.com/STEllAR-GROUP/octotiger/files/696679/gdb_output.txt)

[2017-01-10 17:16] sithhell commented on #34
Am 10.01.2017 5:17 nachm. schrieb "DavidPfander-UniStuttgart" <
notifications@github.com>:

When I try to collect a stack trace, the application crashes with an error
that indicates that it ran out of stack memory. Even if I increase the
stack size. See the attached file. What can I do?

Add the command line parameter the error message is suggesting.

gdb_output.txt
<https://github.com/STEllAR-GRO

[2017-01-10 21:20] hkaiser commented on #33
The shutdown times are caused by HPX trying to make sure no new work which is scheduled during shutdown is left behind unhandled. That involves some waiting which seems to increase proportionally with the number of cores used. I'll try to look again to really understand what's going on.
Reducing `HPX_IDLE_LOOP_COUNT_MAX` might help (https://github.com/STEllAR-GROUP/hpx/blob/master/hpx/config.hpp#L

[2017-01-11 08:43] DavidPfander-UniStuttgart commented on #34
Isn't that a bad idea, as the guard pages should detect stack overflows? Or what do the guard pages do?

[2017-01-11 08:47] sithhell commented on #34
On 01/11/2017 09:43 AM, DavidPfander-UniStuttgart wrote:

Yes, with guard pages, you can detect more easily detect stack
overflows. However, with guard pages enabled, the linux kernel doesn't
merge pages.
That means that when you have a large number of HPX threads, a lot of
pages are allocated. Without guard pages, those might get merged into a
single set. With them, not so.
The linux kernel sets

[2017-01-11 08:49] DavidPfander-UniStuttgart commented on #34
Ah, thanks for the explanation. I'm running it with the guard pages switch right now. This will take a few minutes minutes.

[2017-01-11 13:56] sithhell commented on #33
On 01/10/2017 10:20 PM, Hartmut Kaiser wrote:

Thanks! that was it! I create a PR that fixes this problem in a
different manner:
https://github.com/STEllAR-GROUP/hpx/pull/2451

[2017-01-11 14:14] DavidPfander-UniStuttgart commented on #34
Without the guard pages, no crash occurs. I tested it again with the guard pages enabled and it crashed again.

[2017-01-11 14:22] sithhell commented on #34
On 01/11/2017 03:14 PM, DavidPfander-UniStuttgart wrote:

This means you are running out of pages... might happen from time to
time, try if it happens with a smaller problem or more cores.

[2017-01-11 14:30] DavidPfander-UniStuttgart commented on #34
My desktop system is a small skylake quadcore (i7 6700) and I only ran a level 4 problem. I think running a that problem on that machine should work without making additional settings.

How can we make it more difficult for people for shooting themselves in the foot? Having to remember that the guard pages have to be set appropriately is quite annoying (and it might be relevant for every project p

[2017-01-11 19:18] hkaiser commented on #34
This has nothing to do with the avalable amount of physical memory. The linux kernel has a limitation on how many page mappings it supports concurrently (usually ~32k, iirc). If guard pages are enebled, each HPX thread consumes two entries in this table of those mappings (one for the stack segment itself and one for the guard page next to the stack segment). The kernel merges only mappings of the

[2017-01-11 20:57] sithhell commented on #34
On Mittwoch, 11. Januar 2017 11:18:08 CET Hartmut Kaiser wrote:

Another thing ... this might hint at a performance problem. 16k allocated
tasks is quite a lot. At least that's my experience ...

[2017-01-11 21:26] hkaiser commented on #34
32k is a system-wide limit. To know how many threads have been created you'd need to look at the perf-counters. Everything else is just coffee-ground.

[2017-01-12 09:20] DavidPfander-UniStuttgart commented on #34
I'm closing this because the original problem has been addressed. I did put a paragraph about this problem in the wiki.

[2017-01-12 09:20] #34 closed

[2017-01-12 09:41] DavidPfander-UniStuttgart commented on #33
I was able to circumvent the original problem by unloading memkind. As jemalloc is part of the memkind module, I needed to use a different allocator. For that I'm using @khuck's build of gperftools.

[2017-01-12 09:41] #33 closed

[2017-01-13 15:55] DavidPfander-UniStuttgart opened #36 "Non-linear scaling on single KNL node"
octotiger doesn't scale to a single KNL node (on cori).

For more details, see [here](https://github.com/STEllAR-GROUP/octotiger/wiki/Node-Level-Scaling-on-KNL-(on-Cori)).

I'll close this issue as soon as close to linear scaling on a single node is observed (or a good reason is given why this isn't possible).

[2017-01-13 17:15] DavidPfander-UniStuttgart commented on #36
Idle rates for the moving stars problem level 1..4 (details see [here)](https://github.com/STEllAR-GROUP/octotiger/wiki/Node-Level-Scaling-on-KNL-(on-Cori)).

level=1 `/threads{locality#0/total}/idle-rate,1,7.579116,[s],6188,[0.01%]`
level=2 `/threads{locality#0/total}/idle-rate,1,5.164179,[s],5836,[0.01%]`
level=3 `/threads{locality#0/total}/idle-rate,1,30.026202,[s],2445,[0.01%]`
level=4 `/threa

[2017-01-13 17:40] hkaiser commented on #36
That confirms our suspicion that we simply have not enough parallelism in the application to fully utilize all cores on a KNL at this point. Even 19% idle-rate (level=4) is still way too high for good scaling.

[2017-01-16 09:09] DavidPfander-UniStuttgart commented on #36
level=5 `/threads{locality#0/total}/idle-rate,1,2852.963514,[s],2641,[0.01%]` on DRAM

l5 with MCDRAM/l6 with DRAM already results in an out-of-memory.

[2017-01-16 18:21] khuck commented on #36
David -
You ran out of memory because the defaults for Octotiger create a star that is the same size as the grid, creating lots of cells packed with particle data.  You can control that with the "-Xscale=32 -Odt=0.5" arguments.

(I put the restart files mentioned in this email in the /project/projectdirs/xpress/hpx-lsu-cori-II/restart-files directory)

We need to document this on the wiki, but her

[2017-01-17 13:25] DavidPfander-UniStuttgart commented on #36
Thanks, Kevin. Experiments with Dominic's new parameters are on their way.

[2017-01-17 18:15] DavidPfander-UniStuttgart commented on #36
I added some the scaling for l7 and l8 with Dominic's parameters. Scaling and idle rates look seem to be more or less identical.

Idle rates:
level=7, threads=68 `/threads{locality#0/total}/idle-rate,1,111.275371,[s],3123,[0.01%]
`
level=8, threads=68 `/threads{locality#0/total}/idle-rate,1,327.854486,[s],2863,[0.01%]
`

[2017-01-19 17:18] pagrubel commented on #33
I am now seeing these messages, they were buried with other hpx messages. I’m writing this to verify my filter is working to put them in a separate folder so please ignore.

Pat
On Jan 12, 2017, at 2:41 AM, DavidPfander-UniStuttgart <notifications@github.com<mailto:notifications@github.com>> wrote:

I was able to circumvent the original problem by unloading memkind. As jemalloc is part of the memk

[2017-01-23 09:29] DavidPfander-UniStuttgart commented on #36
Node scaling is somewhat better without GRAV_PAR, but it still is far from perfect. I think two reasons explain this:
* The setup used for the scaling gravs does only a single timestep. Therefore, serial setup und shutdown steps might interfere with the measurement. I'll rerun the scaling experiments with Dominic's updated parameters.
* We need more parallelism on a node. This problem can be solve

[2017-01-23 09:36] DavidPfander-UniStuttgart opened #37 "Can someone add octotiger to a continuous integration system?"
Does someone have a CI system setup where we could add octotiger with some checked parameters, so that we can detect regressions?

[2017-01-23 13:24] hkaiser commented on #36
Over the weekend I have done some analysis as well. As it turns out, Octotiger was executing a large amount of very short-executing HPX actions. I applied some changes to the code turning a couple of those actions into directly executing ones. This has reduced the number of executed HPX threads to 30% of the former value and should reduce the pressure on the scheduler significantly.

I have also a

[2017-01-23 13:25] hkaiser commented on #37
CircleCI is a nice system which is relatively easy to set up. It also nicely integrates with github.

[2017-01-23 14:20] DavidPfander-UniStuttgart commented on #37
I think that you have CircleCI on Rostam. Could we use Rostam for CI?

[2017-01-23 16:38] hkaiser commented on #37
We use CircleCI here for HPX crash&burn tests: https://circleci.com/gh/STEllAR-GROUP/hpx. On Rostam we use buildbot, which is more difficult to set up.

[2017-01-23 16:59] dmarce1 opened #38 "Octotiger does not scale to 2 knl nodes on Cori"
When running Octotiger on Cori knl,quad,cache, the moving_star problem with -Xscale 32.0 -max_level=5 takes about 4 seconds per timestep on one node, but about 40 seconds per timestep on 2 nodes.

This is using the commands:
srun -n 2 -c 68 -u ./octotiger -t 68 -Problem=moving_star -Xscale=32.0 -Max_level=5 -Disableoutput
and
srun -n 1 -c 68 -u ./octotiger -t 68 -Problem=moving_star -Xscale=32.0 -

[2017-01-25 18:45] dmarce1 commented on #38
Here is a link to vtune profiles for the two node run.
https://drive.google.com/file/d/0B_Hf1bEwvJEkeXJicGRKQ2RxR3M/view?usp=sharing

[2017-01-26 10:09] DavidPfander-UniStuttgart commented on #36
Latest results show that scaling has improved a little bit.

I'm re-running the scaling experiments with more timesteps and Xscale=36 right now (still don't know whether that's a good value for Xscale). Scaling should be better with these parameters (and more meaningful).

[2017-01-26 10:11] DavidPfander-UniStuttgart commented on #38
I think at this point this is to be expected, as we already scale badly on a single node.

(I made similar observations when I ran only multiple nodes two weeks ago.)

[2017-01-26 11:58] biddisco commented on #38
Last night I ran number of tests of the verbs PP on the greina machine at CSCS where I have been doing the majority of my development.

I’m seeing performance drops of my 2 node latency tests of quite significant magnitude relative to the results I collected 4 months ago – unfortunately, I do not have any saved timings from more recently and I have been blindly running tests (to fix races etc) wit

[2017-01-26 13:21] biddisco commented on #38
PS. I forgot to add that I went back (git date) to about jan 10th with my tests, but not further than that.

JB

From: cscs <biddisco@cscs.ch<mailto:biddisco@cscs.ch>>
Date: Thursday 26 January 2017 at 12:58
To: STEllAR-GROUP/octotiger <reply@reply.github.com<mailto:reply@reply.github.com>>
Subject: Re: [STEllAR-GROUP/octotiger] Octotiger does not scale to 2 knl nodes on Cori (#38)

Last night I r

[2017-02-02 13:22] DavidPfander-UniStuttgart commented on #37
Did it myself.

[2017-02-02 13:22] #37 closed

[2017-02-02 13:22] DavidPfander-UniStuttgart commented on #30
Added some comments with the help of Dominic. (Thanks, Dominic!)

[2017-02-02 13:22] #30 closed

[2017-02-02 13:50] hkaiser commented on #37
@DavidPfander-UniStuttgart: thanks for doing that! Where is the CI hosted now?

[2017-02-02 13:54] DavidPfander-UniStuttgart commented on #37
Circle CI

[2017-02-02 13:58] DavidPfander-UniStuttgart commented on #37
https://circleci.com/gh/STEllAR-GROUP/octotiger

[2017-02-02 14:26] diehlpk opened #39 "Replace eigenvalus computation with a optimized library?"
Why do we use a own routine for the computation of eigenvlaues here?

https://github.com/STEllAR-GROUP/octotiger/blob/master/src/grid_fmm.cpp#L59

It es maybe faster to use a optimizied routine from some linear algebra library?

Like https://eigen.tuxfamily.org/dox/classEigen_1_1EigenSolver.html

[2017-02-02 14:47] hkaiser commented on #39
There is only one way to find out...

[2017-02-02 14:50] DavidPfander-UniStuttgart commented on #39
I think that it so far hasn't been observed to be a bottleneck.

[2017-02-02 14:53] diehlpk commented on #39
Ok, I think adding this library is not so much work and I will give it a try

[2017-02-03 10:39] diehlpk opened #41 "Octotiger does not compile with gcc 6.3.1"
In file included from /usr/lib/gcc/x86_64-redhat-linux/6.3.1/include/immintrin.h:41:0,
                 from /home/diehlpk/git/octotiger/src/simd.hpp:13,
                 from /home/diehlpk/git/octotiger/src/grid.hpp:13,
                 from /home/diehlpk/git/octotiger/src/grid_fmm.cpp:7:
/usr/lib/gcc/x86_64-redhat-linux/6.3.1/include/avxintrin.h: In constructor ‘simd_vector::simd_vector(double)’

[2017-02-03 11:00] diehlpk commented on #41
For gcc 6.3.1 one have to add -msse4.1

[2017-02-03 12:03] DavidPfander-UniStuttgart commented on #41
To me this looks like a build configuration issue. I attached a script that build octotiger, hpx and Vc on my machine (you have to change the paths and do a clone before it is useful).
[octotiger_complete_upgrade.txt](https://github.com/STEllAR-GROUP/octotiger/files/750379/octotiger_complete_upgrade.txt)

[2017-02-03 14:16] #41 closed

[2017-06-26 16:54] DavidPfander-UniStuttgart opened #58 "Please add me to STEllAR-GROUP/Vc"
Hi,

could someone give me write-access to the Vc fork?

I want to have a branch there. So that my code is in the project and we don't have yet another fork.

[2017-06-26 17:05] aserio commented on #58
Done!

[2017-06-26 17:05] #58 closed

[2017-06-26 17:05] DavidPfander-UniStuttgart commented on #58
Thanks, Adrian!

[2017-07-07 10:59] DavidPfander-UniStuttgart opened #59 "massive memory leak in octotiger"
Current master is unusable due to massive memory requirements, possibly due to (a) memory leak(s). However, I don't know how to meaningfully debug this, as I can't get either a valgrind or an address sanitizer build to work (see https://github.com/STEllAR-GROUP/hpx/issues/2746).

Any ideas what we could do?

[2017-07-07 11:52] hkaiser commented on #59
What problem have you been running? How to reproduce this? On what platform? Could you be a bit more specific, please?

[2017-07-07 12:10] DavidPfander-UniStuttgart commented on #59
I ran our minimal test:
[code]
on a Desktop machine.

[2017-07-07 12:11] DavidPfander-UniStuttgart commented on #59
I used HPX master and OctoTiger master.

[2018-02-11 18:14] G-071 opened #60 "Compilation fails when using most recent HPX"
I have problems building the current master branch of octotiger using the current master branch of HPX (98effdc7e9b8b2ac39da4a023aaa079ffe81c4ee).

I get a lot compilation error about seq when I try to compile octotiger, for example:

/home/daissgr/current-oct/src/hpx/hpx/parallel/datapar/transform_loop.hpp:130:45: error: ‘seq’ is not a member of ‘hpx::parallel::v1’
                 return util::t

[2018-02-11 18:38] G-071 opened #61 "Octotiger gets stuck on hpx::finalize when only using one thread"
- Octotiger currently gets stuck on hpx::finalize when using the current master branch of octotiger when using a HPX commit from January 22 (29da281b87cfa1171b42f5e2f22caa29b3c4be2d).
- This problem is not present when using hpx 1.0.0 with other versions of octotiger (branch kernel_refactoring).
- This problem is already present when switching away from hpx 1.0.0 to hpx commit  c9f2c09d9378d920f7d

[2018-02-11 18:52] hkaiser commented on #61
This sounds to be an HPX problem. Could you report that as an HPX ticket, please?

[2018-02-11 18:53] hkaiser commented on #60
`seq` has been moved to `hpx::parallel::execution::seq`, if that still fails we'd need to have a closer look...

[2018-02-11 21:46] G-071 commented on #60
The string `seq` occurs only once within the source code of octotiger (grid_fmm.cpp line 23) and there it is already used as `hpx::parallel::execution::seq`. Hence my confusion!

I tracked to problem back to the inclusion of `#include <hpx/include/parallel_transform.hpp>` in the file taylor.hpp.
If I just remove this include and change nothing else, Octotiger compiles (and runs) correctly. Apparen

[2018-02-12 20:25] hkaiser commented on #60
@G-071 I'm not able to reproduce the issue. Could you please post the full error log somewhere? Please also provide your HPX configuration file `<hpx_build_dir/hpx/config/defines.hpp`.

[2018-02-12 22:03] hkaiser commented on #60
@G-071 that should be fixed now, pls see https://github.com/STEllAR-GROUP/hpx/pull/3168 and verify whether this resolves the issue.

[2018-02-12 22:49] G-071 commented on #60
I tried rebuilding my entire toolchain using the branch containing the fix. It fails at the cmake step of hpx. I have attached the output of my buildscript and the cmake log:

[complete-build-log.txt](https://github.com/STEllAR-GROUP/octotiger/files/1717962/complete-build-log.txt)
[CMakeOutput.log](https://github.com/STEllAR-GROUP/octotiger/files/1717990/CMakeOutput.log)

Do you still need a full

[2018-02-12 23:18] hkaiser commented on #60
Sorry for that - should be fine now. This time for real ;-)

[2018-02-13 00:04] G-071 commented on #60
That seems to have done the trick - it works now. Thanks for the help!

[2018-02-13 15:25] hkaiser commented on #60
This has been fixed by merging STEllAR-GROUP/hpx#3168

[2018-02-13 15:25] #60 closed

[2018-02-26 22:32] G-071 commented on #61
Got fixed with the pull request STEllAR-GROUP/hpx#3172

[2018-02-26 22:32] #61 closed

[2018-11-28 00:17] diehlpk opened #75 "Cleanup issues"
Please check our issues and close them if they are not relevant anymore.

[2018-11-28 00:17] #39 closed

[2018-11-28 00:20] diehlpk opened #76 "Cleanup branches"
Right now we have 54 branches which is too much. Please check if your old branches can be deleted. I deleted all merged branches already.

[2018-11-28 00:54] #32 closed

[2018-11-28 00:54] #31 closed

[2018-11-28 00:55] #28 closed

[2018-11-28 00:55] #27 closed

[2018-11-28 00:56] #26 closed

[2018-11-28 00:57] #15 closed

[2018-11-28 00:57] #8 closed

[2018-12-01 16:41] diehlpk opened #80 "HPX will be updated to use VC 1.4.1"
This will may affect octotiger and we need to update things there too.

* https://github.com/VcDevel/Vc/releases/tag/1.4.1
* https://github.com/STEllAR-GROUP/hpx/issues/3570

[2018-12-01 17:11] hkaiser commented on #80
See STEllAR-GROUP/hpx#3573

[2018-12-01 17:17] dmarce1 commented on #80
Ok, I'll take care of it.

[2018-12-06 01:38] diehlpk commented on #80
I updated ocotiger for usage with the VC 1.4.1 (https://github.com/STEllAR-GROUP/octotiger/tree/updateVC)

There are two files, which need to be updated

* https://github.com/STEllAR-GROUP/octotiger/blob/updateVC/src/common_kernel/kernel_simd_types.hpp
* https://github.com/STEllAR-GROUP/octotiger/blob/updateVC/src/simd.hpp

because there are some changes for the AVC types in the Vc library.

@dmar

[2019-01-08 15:37] #80 closed

[2019-01-08 15:38] #76 closed

[2019-01-08 15:38] #75 closed

[2019-01-08 15:39] diehlpk opened #87 "Use Cmake libraries?"
I suggest introducing libraries instead of compiling one large executable.

[2019-01-19 02:36] #87 closed

[2019-02-27 16:55] parsa opened #135 "vector<bool> iterator not dereferencable"
Upon starting Octotiger, error message `vector<bool> iterator not dereferencable`
appears. The stack trace shows that it happens while executing this line:
https://github.com/STEllAR-GROUP/octotiger/blob/0ca2077ea43ffca58ce2394ca4d2a86a7e59843d/src/monopole_interactions/calculate_stencil.cpp#L108 with `index=18446744073709551217` which is invalid, and is coming from:
 https://github.com/STEllAR-GR

[2019-02-27 19:27] #135 closed

[2019-04-04 01:44] diehlpk opened #161 "Distributed Input"
Octotiger should have an mechanism to provide several input files for the restart and not all nodes should read one file.

[2019-04-04 01:53] diehlpk opened #162 "After regriding the memory increases"
Running the v1309 more than 15 time steps and regriding happens, the amount of memory grows after some regridings and it does not fit in the memory any more. So it is not possible to run the level fitting in the memory for longer time steps.

`slurm-12631276.out:src/central_freelist.cc:333] tcmalloc: allocation failed 8192 `

[2019-04-04 01:59] diehlpk opened #163 "Distributed output"
Silo was not able to write large files with more than 64k sub grids. Somehow it would be beneficial to write several files or a file for each node.

[2019-04-04 02:01] diehlpk commented on #162
maybe related to #53

[2019-04-04 16:52] dmarce1 commented on #59
This isn't the problem I mentioned in the last calls. I was getting it with rotating_star and it turned out to be I was just using an older initialization file.

[2019-04-04 16:54] dmarce1 commented on #162
I will add a new switch to turn off AMR and instead have FMR (fixed mesh refinement) - meaning no regridding. But then we wouldn't be including regridding in the scaling timings.

[2019-04-11 15:59] diehlpk commented on #162
I think we should check why the memory increases so much, because adding some sub-grids shoudl not consume so much memory. I think there is some bug in octotiger or HPX and we do not free memory.

[2019-04-15 19:58] diehlpk commented on #161
@khuck Could you please elaborate the approach you were mentioning during the calls and on the mailing list?

[2019-04-15 20:13] khuck commented on #161
@diehlpk I had suggested using the [ADIOS2](https://github.com/ornladios/ADIOS2) library - it is a parallel I/O library that has really great scaling performance.  If desired, it can also do timestep based output, and it can do asynchronous staged I/O.

[2019-04-15 20:42] diehlpk commented on #161
@khuck We should discuss at our next meeting how we want to improve the IO. I like the idea to use a library and not coding the IO by our own. @dmarce1 What do you think?

[2019-04-16 18:27] diehlpk commented on #162
@khuck What was the name of the profiler you mentioned last time?

[2019-04-16 18:36] khuck commented on #162
@diehlpk https://github.com/KDE/heaptrack

[2019-08-16 21:38] shibersag opened #188 "Problems in Building Octotiger on MacOS"
I have encountered two problems when trying to build octotiger on MacOS:
1. When running the following cmake command:
[code]
I get the following error:
[code]

This error can be bypassed by running CMake without tests and without libquadmath by adding the following flags to the CMake command:
[code]
Then, the configuration completes successfully.

2. When running the make command (after a successf

[2019-08-29 16:04] shibersag opened #189 "Incorrect Calculation of Temperature"
Octotiger miscalculates the gas temperature when the temperature is dominated by gas, namely, in every problem except from MARSHAK.

In the function grid::get_scalar_expressions() in the grid.cpp file it reads:
rc.push_back(std::make_pair(std::string("T"), hpx::util::format("{:e} * ei / n", 1.0 / kb / (fgamma - 1.0))));

while it needs to be:
rc.push_back(std::make_pair(std::string("T"), hpx::util

[2019-09-26 09:43] #6 closed

[2019-09-26 09:43] #7 closed

[2019-09-26 09:43] #9 closed

[2019-09-26 09:43] #14 closed

[2019-09-26 09:43] #16 closed

[2019-09-26 09:43] #17 closed

[2019-09-26 09:43] #18 closed

[2019-09-26 09:43] #19 closed

[2019-09-26 09:43] #20 closed

[2019-09-26 09:43] #21 closed

[2019-09-26 09:43] #29 closed

[2019-09-26 09:43] #36 closed

[2019-09-26 09:43] #38 closed

[2019-09-26 09:43] #59 closed

[2019-09-26 09:43] #4 closed

[2019-09-26 09:53] #24 closed

[2019-09-26 09:53] #25 closed

[2019-09-26 14:36] aserio opened #204 "Vc CMake Switch not Working"
## Expected Behavior

I should be able to compile Octo-Tiger without Vc thus not needing to install the Vc libraries

## Actual Behavior

When building I received this message:

## Steps to Reproduce the Problem

I ran the following commands on Rostam:

cmake -DHPX_DIR=/home/aserio/lib/master-gcc8.3.0/lib64/cmake/HPX/ \
-DCMAKE_BUILD_TYPE=Debug -DSilo_LIBRARY=/opt/mn/silo/4.10.2/lib \
-DSilo_INCLU

[2019-09-26 17:59] shibersag commented on #189
Problem fixed.

[2019-09-26 17:59] #189 closed

[2020-01-17 15:35] freifrauvonbleifrei opened #253 "Segfault in unitiger executable"
Hi,
I was trying to debug an error I had back with bb3f9ad5b549b6c6ca3c0f01e3eecbe0becf9fae (which I might describe in another issue), and for that tried to run the unitiger executable on the current master for comparison. However, it segfaulted. @dmarce1 is this working for you? should it be for me? have you seen similar behaviour before?

## Expected Behavior

unitiger running any test (the one

[2020-01-23 15:17] G-071 opened #254 "Faulty timers"
The timers in the current master version of Octo-Tiger (199addb3cbcf31aead2cc6a9fea43cb871d5c358)are not working correctly from what I can see.

I am running the rotating star scenario:

The resulting timers like like this:

   I/O:         6.42329 (3.16511%)
   Computation: 182.131 (89.7462%)
   Gravity:     182.788 (90.07%)
   Hydro: -0.657052 (-0.00323766%)
   Regrid: 3.90468 (1.92405%)
   Comp

[2020-03-05 02:57] #5 closed

[2020-03-05 02:57] #10 closed

[2020-03-05 02:57] #11 closed

[2020-03-05 02:58] #12 closed

[2020-04-03 00:56] diehlpk commented on #254
@dmarce1 I think this is fixed with in master or?

[2020-04-03 00:56] diehlpk commented on #163
I think, we have distributed silo output and the ticket can be closed.

[2020-04-03 00:56] #163 closed

[2020-04-03 00:57] #162 closed

[2020-04-03 00:57] diehlpk commented on #188
@shibersag Is this still valid?

[2020-04-03 01:01] diehlpk opened #272 "Linking error: undefined reference to `physics<2>::field_names2'"
## Expected Behavior

Should link

## Actual Behavior

[code]

## Steps to Reproduce the Problem

Compile today's master

## Specifications

... Please describe your environment

  - HPX Version: 1.4
  - Platform (compiler, OS): gcc 8.1.1 boost 1.78.0

[2020-04-08 18:55] G-071 commented on #272
I have encountered the same issue! It should be fixed in #276

[2020-04-13 22:15] shibersag opened #280 "Significant increase in the running time of the sod problem"
The sod problem running significantly longer than it used to be previously.

I attach a configuration file (sod.ini) and four output files. Two output files from simulations ran on BigRed3 (th24 and th24_3) and two from simulations ran on Queen-Bee (th40 and th40_3). I ran the same octotiger commit but with a different hpx version. With hpx 1.4.0 the running time significantly increased (almost by

[2020-04-23 13:45] freifrauvonbleifrei commented on #253
still (on b626977d9b0843250c8f5281b46a4a5b96b68d88):
[code]

[code]
@dmarce1 , @shibersag : how do you call `unitiger`? Which test scenarios do you run?

[2020-04-28 17:56] shibersag opened #283 "Segmentation fault error when comparing with the analytic solution on more than one locality run"
## Expected Behavior
At the end of each test run that has an analytic solution OctoTiger computes the analytic solution and compares it to the numerical results octotiger itself produced.

## Actual Behavior
When running on more than one locality, e.g., by running with
--hpx:localities N
where N>1,
after the evolution of a problem has completed, octotiger crushes with 'Segmentation fault' when try

[2020-04-29 21:39] #161 closed

[2020-05-13 08:56] #272 closed

[2020-05-13 14:07] diehlpk opened #290 "Cuda error: CUDA function returned error code invalid device ordinal on Summit"
## Expected Behavior

Octo-Tiger should run for 20 times teps.

## Actual Behavior

[code]

## Steps to Reproduce the Problem

  1. Compile Octo-Tiger on Summit
  1. Use the rbc level 13 input from the previous paper
  1. Run

`./../../../PowerTiger/build/octotiger/build/octotiger  --config_file=rcb.ini --silo_num_groups=1 --cuda_streams_per_locality=96 --cuda_streams_per_gpu=16`

## Specification

[2020-05-13 14:24] G-071 commented on #290
This exception usually gets thrown when you try to access more GPUs than there are (or you have access to). Can you check with ```nvidia_smi``` to verify that you really have access to 6 GPUs? Also, does this error persist if you access only 4 or 2 GPUs? (Try increasing the streams per GPU to test this - testing on a single node should suffice for this).

Also, while not related to this error: you

[2020-05-13 14:41] G-071 commented on #290
One more question: How did you launch the command?

While I have never run anything on Summit myself, after skimming the [Summit guide](https://docs.olcf.ornl.gov/systems/summit_user_guide.html#launching-a-job-with-jsrun)
it seems like the default value is 0 GPUs per ressource set until ```jsrun``` is told otherwise.

[2020-05-13 14:44] diehlpk commented on #290
```jsrun -n6 -a1 -c7 -g1 -b rs ```

[2020-05-13 14:50] G-071 commented on #290
With the ``` -g 1 ``` option, you will have access to one GPU per HPX locality if I am not mistaken.
With the Octo-Tiger parameters you posted above, Octo-Tiger will try to use 6 GPUs on each locality, however, the ```jsrun``` command will only provide 1.

Try increasing this option - or adapt Octo-Tiger's stream parameters accordingly to use only one card!

[2020-05-13 14:55] diehlpk commented on #290
[code]

[2020-05-13 15:02] diehlpk commented on #290
You were right, the command was wrong and the good one is ` jsrun -n1 -a1 -c42 -g6 -b rs`

[2020-05-13 15:06] G-071 commented on #290
Glad to hear it!

By the way, I think you can increase ```-c``` to 44. Summit should have 2x22 cores per compute node!

[2020-05-13 15:11] diehlpk commented on #290
No, two are dedicated for IO and can not be used easily.

[2020-05-13 15:16] G-071 commented on #290
Ah, I see! I wasn't aware of that.

Considering that the specific problem regarding the invalid device ordinal seems to be solved: Can we close this issue?

[2020-05-13 15:22] diehlpk commented on #290
Yes, but I will generate a new one with some segfault :(

[2020-05-13 15:25] #290 closed

[2020-05-13 15:28] hkaiser commented on #290
G-071: is there a way to detect the mismatch in requested and available GPU devices at runtime?

[2020-05-13 15:28] diehlpk opened #291 "IO issues on Summit"
## Expected Behavior

Run the rbc level 13 from the previous paper.

## Actual Behavior

[code]

## Steps to Reproduce the Problem

`bash-4.2$ jsrun -n1 -a1 -c42 -g6 -b rs ./../../../PowerTiger/build/octotiger/build/octotiger  --config_file=rcb.ini --silo_num_groups=1 --cuda_streams_per_locality=96 --cuda_streams_per_gpu=16  `

## Specifications

[code]

[2020-05-13 19:42] diehlpk commented on #291
Using a debug build of all libs and Octo-Tigers does not produce the same bug. However, the code does not print any new line for 35 minutes.

[2020-05-14 20:11] diehlpk commented on #291
Running the rotating star without GPUs in Debug mode

`../../../../../../build/octotiger/build/octotiger --config_file=config.ini`

seems to work

[code]

[2020-05-14 20:19] diehlpk commented on #291
Same test with one GPU in Debug

`../../../../../../build/octotiger/build/octotiger --config_file=config.ini --cuda_streams_per_locality=128 --cuda_streams_per_gpu=128  `

seems to work for four time steps

[code]

[2020-05-14 20:44] diehlpk commented on #291
Rotating start in release with one GPU seems to work as well

[code]

[2020-05-14 20:51] diehlpk commented on #291
Ok, running it with all 6 GPUs results in the following error

[code]

[2020-05-14 20:54] diehlpk commented on #291
@G-071 Have you seen the issue with multiple GPUs?

[2020-05-15 11:39] G-071 commented on #291
No, I don't think I've seen this one before! Does it persist if you disable the output or use two GPUs?

[2020-05-15 12:05] diehlpk commented on #291
Good point. Let me try that.

[2020-05-15 16:36] dmarce1 commented on #291
Patrick

It looks like it's not seeing the input file for some reason

Dominic

On Thu, May 14, 2020, 15:52 Patrick Diehl <notifications@github.com> wrote:

[2020-05-15 16:37] dmarce1 commented on #291
Patrick

Nevermind, that's a write that's failing. It's weird it works with one GPU
and not 6 because the write happens from the CPU. I'm not sure what's going
on.

Dominic

On Fri, May 15, 2020, 11:36 Dominic Marcello <dmarce504@gmail.com> wrote:

[2020-05-15 18:15] diehlpk commented on #291
Is there any way we can debug?

[2020-05-18 12:44] dmarce1 commented on #291
Patrick

I can add some printf statements to a separate branch so we can at least
figure out what parts of the output process are being executed

Dominic

On Fri, May 15, 2020, 13:16 Patrick Diehl <notifications@github.com> wrote:

[2020-05-18 15:20] diehlpk commented on #291
@dmarce1 Sounds good. Please let me know where I can find that branch

[2020-05-19 11:50] dmarce1 commented on #291
Patrick-

It's named instrument_silo.

-Dominic

On Mon, May 18, 2020 at 10:21 AM Patrick Diehl <notifications@github.com>
wrote:

[2020-05-20 21:40] diehlpk commented on #291
So the new branch goes further, but crashes after few time steps:

[code]

[2020-05-21 14:45] diehlpk commented on #291
Ok, adding --hpx:ini=hpx.stacks.use_guard_pages=0 and the code hangs

[code]

[2020-05-21 15:52] diehlpk commented on #291
Even a simple hello world hangs

` jsrun -n1 -a1 -c7 ./hello_world_1 Hello World!bash-4.2$ jsrun -n1 -a1 -c7 ./hello_world_1 --hpx:ini=hpx.stacks.use_guard_pages=0`

[2020-05-25 14:46] G-071 commented on #291
I built Octo-Tiger on our POWER9 node using the usual buildscripts and it worked without any issues (I tested it with up to 3 GPUs).

The command I used comes straight from my bash history on that node:
[code]

So, Multi-GPU support on power should still work. However, I am not sure why it doesn't for you.

[2020-05-25 18:44] diehlpk commented on #291
@G-071 Can you provide me with the hpx and octotiger commit to try your versions?

[2020-05-26 01:38] diehlpk commented on #291
@dmarce1 Any heads up on the IO issues?

[2020-05-26 10:40] G-071 commented on #291
Octotiger: 8419c40c61f56f286c0b71cb487dead2320afafb
HPX: Tag 1.4.0

[2020-05-26 12:49] G-071 commented on #291
HPX 1.4.1 should work fine as well. I just tested building Octo-Tiger on POWER with the spack package instead of the buildscripts and tested that with multiple GPUs along the way.

[2020-05-26 14:47] diehlpk commented on #291
@G-071 Thanks, however on Summit that does not help
[code]

[2020-05-27 14:41] dmarce1 commented on #291
Patrick--

The option I was talking about yesterday is DHPX_WITH_THREAD_STACK_MMAP=OFF.

It looks like from the output the crash was not during the I/O, but during
regridding?

-Dominic

On Wed, May 20, 2020 at 4:40 PM Patrick Diehl <notifications@github.com>
wrote:

[2020-05-28 14:15] diehlpk commented on #291
I still see the error messages above from the SILO library, however, in the new branch the code runs for the first 5 time steps and crashes. I think that we have two issues here:

1.  IO issues
2. Stackoverflow

[2020-05-30 22:34] shibersag commented on #280
It was fixed in one of the recent commits.
However, I think that HPX people might be interested to have a look at this problem.

[2020-05-30 22:37] shibersag commented on #283
Fixed by commit cc5aafe593367a3006cc53d570cd286c60082021.

[2020-06-01 22:34] diehlpk commented on #280
@shibersag If you want that HPX folks look into this, you should open a new ticket in the HPX repo and refer to this one.

I will close this ticket for now.

[2020-06-01 22:34] #280 closed

[2020-06-01 22:39] diehlpk commented on #188
@shibersag I will close the issue for now.

[2020-06-01 22:39] #188 closed

[2020-06-01 22:40] diehlpk commented on #254
@dmarce1 and @G-071 Is this fixed and can be closed?

[2020-06-01 22:40] diehlpk commented on #253
@freifrauvonbleifrei Is this still a thing?

[2020-06-01 22:41] #283 closed

[2020-06-01 22:59] dmarce1 commented on #254
Patrick

Yes it is fixed

Dominic

On Mon, Jun 1, 2020, 17:40 Patrick Diehl <notifications@github.com> wrote:

[2020-06-02 01:31] #254 closed

[2020-06-05 16:17] diehlpk opened #302 "JOSS submission"
Journal information: https://joss.theoj.org/about

Submission requirements: https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain

Example paper: https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography

[2020-06-05 16:20] diehlpk commented on #302
I added the templates to the following branch https://github.com/STEllAR-GROUP/octotiger/tree/joss

as https://github.com/STEllAR-GROUP/octotiger/blob/joss/paper.md

and

as https://github.com/STEllAR-GROUP/octotiger/blob/joss/paper.bib

[2020-06-05 16:22] diehlpk commented on #302
@dmarce1 Could you start to add information about the equations, numerical methods, and so on to this paper?

@shibersag Can you add the benchmark results, once you finished the first version of the benchmark paper.

[2020-06-08 16:16] diehlpk commented on #291
Ok, using this option Octo-Tiger does not crash.

[2020-06-08 16:42] diehlpk commented on #291
@dmarce1 Could you please please please have a look into the IO issues? If they vanish, it would make debugging much easier?

[2020-06-08 17:49] dmarce1 commented on #291
Patrick

Yes, I will take a look.

Dominic

On Mon, Jun 8, 2020, 11:42 Patrick Diehl <notifications@github.com> wrote:

[2020-06-09 12:56] dmarce1 commented on #291
Patrick-

Can you confirm that "DBPutMultivar: File was closed or never
opened/created.: X.0.silo" is the very first error line? Also, was there a
file called "X.0.silo" created and if so was it non-zero size?

-Dominic

On Thu, May 14, 2020 at 3:52 PM Patrick Diehl <notifications@github.com>
wrote:

[2020-06-09 13:03] dmarce1 opened #305 "Seg fault at p2m_kernel.cpp line 32"
## Expected Behavior

I expect Octo-Tiger to run at all on my lap top

## Actual Behavior

Octo-Tiger is crashing, no matter what problem I specify,  at line 32 of p2m_kernel.cpp

It started when I upgraded my machine to Ubuntu 19, which changed the gcc version to 9.2.1

Octo-Tiger top of master
HPX 1.4.1
gcc version 9.2.1
Ubuntu 19

[2020-06-09 13:41] G-071 commented on #305
Hmm that's an odd line for a crash:
[code]
I can see it crashing in case opts().theta is 0, but that shouldn't be the case in our scenarios.

Either way, I will to to replicate the crash myself! I just need to finally install a newer gcc myself!

Are you using the Powertiger Scripts for building? If not, what's the value of OCTOTIGER_THETA_MINIMUM? The default 0.34?

[2020-06-09 13:57] dmarce1 commented on #305
Gregor

Yes, it's the default.

Thanks
Dominic

On Tue, Jun 9, 2020, 08:42 Gregor Daiß <notifications@github.com> wrote:

[2020-06-09 18:56] diehlpk opened #306 "Stackoverflow on Summit"
For the reproducibility aspect, can you run the branch `instrument_silo` with HPX 1.4 and gcc 8.11 and MPI enabled.

I just run

`
jsrun -n1 -a1 -c42 -g6 -b rs ./../../../../../../../PowerTigerDebug/build/octotiger/build/octotiger --config_file=config.ini  --cuda_streams_per_locality=4 --cuda_streams_per_gpu=1`

the config file is in octotiger/test_problems/rotating_star/rotating_star_paper/rs_2_w

[2020-06-09 18:57] diehlpk commented on #291
@G-071 I opened a new issue #306 for the stack overflow bug.

@dmarce1 We will keep this issue for the IO bug.

[2020-06-09 18:59] diehlpk commented on #291
@dmarce1

Please see below the current files after the crash

[code]
It seems that no X.0.silo or X.0.silo is there. However, if I run with one GPU the files are there.

[2020-06-09 21:29] dmarce1 commented on #305
Turns out the thing making the difference isn't the compiler, I was using the "custom" allocator instead of tcmalloc or jemalloc. When I switched back to tcmalloc the problem goes away. I don't know if this means there is a bug in Octo-Tiger that only shows up with the custom allocator or if this means there is a bug with the custom allocator.

[2020-06-16 13:09] G-071 commented on #306
I ran the same scenario for a couple hundred time-steps on our local system without any issues. I only used two GPUs however, since the other two were allocated by a different job all week (though I think the stack overflow issue you're facing starts as soon as you are using more than one GPU, am I correct?).

To make sure we align the toolchains as much as possible: Could you create a branch in t

[2020-06-16 14:18] diehlpk commented on #306
No, I am using the `instrument_silo`, since I was debugging the IO issues as well. Can you checkout this branch and I will use master?

Will share the config file with you soon, need to access Summit first.

[2020-06-17 18:32] diehlpk commented on #306
@G-071 Since we want to use the Kokkos kernels on Summit, we might want to stop debugging and start to test the Kokkos kernels. I am not sure the effort we spend into this bug is necessary.

[2020-06-17 18:32] diehlpk commented on #305
@dmarce1 Can we close this issue?

[2020-06-17 18:33] #253 closed

[2020-06-19 16:15] diehlpk commented on #306
@G-071 Are you using debug or release builds?

[2020-06-19 16:19] diehlpk opened #309 "Spack build on Summit"
I followed the instructions here

However, I get following error on Summit

or

[diehlpk@login4.summit spack]$ spack spec octotiger +cuda +kokkos ^hpx cuda_arch=60 ^kokkos cuda_arch=70 +volta70 +hsw
Input spec
--------------------------------
octotiger+cuda+kokkos
    ^hpx cuda_arch=60
    ^kokkos+hsw+volta70 cuda_arch=70

Concretized
--------------------------------
==> Error: trying to set varia

[2020-06-19 16:32] diehlpk opened #310 "Add doxygen build to circle-ci"

[2020-06-19 16:47] diehlpk commented on #306
Disabling the MPI  compiler, changes noting

[code]

[2020-06-19 17:17] hkaiser commented on #306
@diehlpk what is `signal 11`? Was there some output from octotiger itself?

[2020-06-19 19:46] diehlpk commented on #306
@hkaiser Expect of the first and last line everything is output from octotiger.

[2020-06-22 15:13] G-071 commented on #309
It seems that you are using the wrong Kokkos package! Have you been following the instructions on the octotiger [spack readme](https://github.com/freifrauvonbleifrei/octotiger-spack/tree/master)? (specifically "After downloading the octotiger-spack GitHub repository, you need to add the kokkos-spack repository according to the instructions on their Github Page."). This should enable you to use the

[2020-06-22 16:25] diehlpk commented on #309
@G-071 Can you please share the exact setup, you used on your Power9 node? I like to have the exact same build as you have to make testing more reproducible.

I just like to edit at most some paths and not too many flags.

I like to have the same version as you used on your system.

[2020-06-22 16:29] diehlpk commented on #306
Let us close this ticket, since we decided on using the Kokkos version of Octo-Tiger. I will open a new ticket once Octo-Tiger is compiled with Spack on Summit.

[2020-06-22 16:30] #306 closed

[2020-07-09 15:38] diehlpk commented on #291
[code]

[2020-07-09 15:58] diehlpk commented on #291
@dmarce1 @shibersag Can we specify the output path?

[2020-07-09 18:47] shibersag commented on #291
@diehlpk you can specify the directory by setting the datadir parameter in the config file.

[2020-07-10 14:15] diehlpk commented on #291
@shibersag Ok, I will try it today and verify that the IO will work after we can write to the fs.

[2020-07-13 22:17] diehlpk opened #319 "datadir option is ignored"
It seems that

* ` --datadir=/gpfs/alpine/proj-shared/cph102/diehl/` as a commandline option

or

* ` datadir=/gpfs/alpine/proj-shared/cph102/diehl/` in the config file

does not have any effect where files are written

I can generate files and folders in on the file system using mkdir and touch, but is seems that octotiger ignores this at all.

[2020-07-13 22:19] diehlpk commented on #291
cc #319

It seems that this option is ignored and adding it does not change the errors

[code]

[2020-07-13 22:23] diehlpk commented on #291
Just for verification

[code]
does work and I think we can write to the file system

[2020-07-13 22:24] diehlpk commented on #319
[code]
Just for verification this worked and so we can access the file system

[2020-07-14 16:01] shibersag commented on #291
@diehlpk you are right. It is ignored. I thought it was working but now I see it does not.

[2020-07-20 19:48] #291 closed

[2020-07-20 19:49] #305 closed

[2020-07-20 19:49] diehlpk commented on #204
Since we did some redesign of the VC stuff, we will close this issues for now.

[2020-07-20 19:49] #204 closed

[2020-07-22 18:14] #319 closed

[2020-07-27 23:58] shibersag opened #325 "internal compiler error in release mode"
## Expected Behavior
Octo-Tiger should compile successfully in Release mode on Queen-Bee.

## Actual Behavior
Compilation of Octo-Tiger in Release mode fails with an internal compiler error:
<pre>In file included from <b>/work/sshiber1/PowerTiger_2/PowerTiger/src/octotiger/octotiger/radiation/rad_grid.hpp:16:0</b>,
                 from <b>/work/sshiber1/PowerTiger_2/PowerTiger/src/octotiger/src/g

[2020-07-28 17:32] diehlpk commented on #325
@hkaiser Can you please have a look?

[2020-07-28 17:40] diehlpk commented on #306
Ok, surprisingly now since the IO issue is fixed and Octo-Tiger can write files again, the stack-overflow issue does not appear anymore.

[2020-07-28 17:41] diehlpk commented on #319
I can confirm that it is working again.

[2020-07-28 17:46] diehlpk opened #326 "Octo-Tiger does whatever an Octo-Tiger does on Summit"
Good news, with fixing the IO issues, the stack overflow does not appear any more :) Bad news, Octo-Tiger prints

[code]

nothing happens for 15 minutes

[code]

and all of a sudden these lines pop up.

[2020-07-28 17:52] diehlpk commented on #326
Doing one run without IO and will check, if it is still slow.

[2020-07-29 13:44] dmarce1 commented on #326
Patrick

Is it possible stdout is being buffered and it's actually outputting during
those 15 minutes but it just doesn't show on the screen yet ?

Dominic

On Tue, Jul 28, 2020, 12:46 Patrick Diehl <notifications@github.com> wrote:

[2020-07-29 14:50] diehlpk commented on #326
Running the original rotating start CPU only took

[code]

[2020-07-29 15:50] dmarce1 commented on #326
Patrick-

It only takes 26 seconds on a single queenbee node.

-Dominic

On Wed, Jul 29, 2020 at 9:50 AM Patrick Diehl <notifications@github.com>
wrote:

[2020-07-29 20:18] diehlpk commented on #326
Using the release build

[code]

[2020-07-29 20:22] diehlpk commented on #326
@dmarce1 Using the release build without CPUs results in

[code]

[2020-08-04 14:57] hkaiser commented on #325
@shibersag please try a newer compiler as we can't do anything about this (it's a compiler bug).

[2020-08-11 14:35] #325 closed

[2020-08-11 14:36] dmarce1 commented on #326
Patrick -

 Do you have the rest of the output for the seg fault run? Specifically I'm looking for the part where the options are printed out.

Dominic

[2020-08-11 14:36] diehlpk commented on #326
@dmarce1 Could you please have a look what is going on with the segfault and the diagnostic?

[2020-08-12 05:07] dmarce1 commented on #326
Patrick-

If you have the output from before the seg-fault, can you send it?

Thanks
-Dominic

[2020-08-12 15:52] diehlpk commented on #326
[code]

[2020-08-12 16:33] sithhell commented on #326
Not sure if it's still the case on summit, but darshan used to be
problematic once. Could you try to run it without darshan being loaded?

Patrick Diehl <notifications@github.com> schrieb am Mi., 12. Aug. 2020,
17:52:

[2020-08-12 17:54] diehlpk commented on #326
@sithhell Done, nothing changed.

[2020-08-12 20:05] sithhell commented on #326
You even have libdarshan in your backtrace? I think you need to rebuild hpx
and octotiger without darshan being loaded then.

Patrick Diehl <notifications@github.com> schrieb am Mi., 12. Aug. 2020,
19:55:

[2020-08-13 01:44] diehlpk commented on #326
@sithhell

Even with unloading the darshan runtime and recompile all libs from scratch

[```
diehlpk@login4.summit rotating_star]$ module list

Currently Loaded Modules:
  1) hsi/5.0.2.p5   2) xalt/1.2.0   3) lsf-tools/2.0   4) DefApps   5) gcc/8.1.1   6) spectrum-mpi/10.3.1.2-20200121   7) cuda/10.1.243
[code]

[h25n07:121825] *** Process received signal ***
[h25n07:121825] Signal: Segmentation f

[2020-08-13 04:22] sithhell commented on #326
So, the interesting question now is: what's printed on that line and does
the error go away when you remove the printf?

Patrick Diehl <notifications@github.com> schrieb am Do., 13. Aug. 2020,
03:44:

[2020-08-13 12:40] diehlpk commented on #326
@sithhell I think that Dominic has a hunch that one function gets called which should not. He is investigating what is going on.

[2020-08-18 14:36] dmarce1 commented on #326
Patrick - Is there a file called "final.silo" that get's created? This problem is baffling because compare_analytic is only called in two places. Either at the very start of the run or the very end. If the call is coming from the end we would see "Starting run" printed first. So it must be coming from the start of the run, but this is only for the gravitating sphere test so it's disabled if either

[2020-08-18 21:15] diehlpk commented on #326
[code]

[2020-08-20 17:05] dmarce1 opened #329 "Empty SILO files caused by call to performance counters."
I ran into the empty SILO output problem while trying to produce init files for V1309. The problem goes away if I comment out line 92 of src/io/silo_out.cpp. Third line from the top, shown here commented out:

void output_stage1(std::string fname, int cycle) {
	printf("Opening output stage 1 on locality %i\n", hpx::get_locality_id());
//	grid::set_idle_rate();
	std::vector<node_location::node_id>

[2020-08-20 21:10] diehlpk commented on #329
@dmarce1

HPX needs to be compiled with `-DHPX_WITH_THREAD_IDLE_RATES=ON` and I think this is the same issue @G-071 experienced.

[2020-08-28 19:32] dmarce1 commented on #326
Patrick-

When you get a chance can you re-run with --odt=1.0e-3 ? This should produce X.1.silo if in fact it is starting up and running and we just aren't seeing the terminal output before it crashes.

-Dominic

[2020-08-28 21:22] dmarce1 commented on #326
Patrick -

Is rotating_star.bin available to octotiger? If not that's the reason it's crashing, I can't send you a copy of it or show you how to generate it.

-Dominic

[2020-08-31 15:10] diehlpk commented on #326
[code]

It seems to be available. Therefore, we might not see the file not there error message.

[2020-08-31 15:44] diehlpk commented on #326
ash-4.2$  time jsrun -n1 -a1 -c42 -g6 -b rs ../../../../build/octotiger/build/octotiger --config_file=rotating_star.ini  --cuda_streams_per_locality=96 --cuda_streams_per_gpu=16 --datadir=/gpfs/alpine/proj-shared/cph102/diehl/

          ___       _      _____ _
         / _ \  ___| |_ __|_   _(_) __ _  ___ _ __
        | | | |/ __| __/ _ \| | | |/ _` |/ _ \ '__|
        | |_| | (__| || (_) | | |

[2020-10-09 08:57] G-071 opened #333 "I/O Issues"
I have noticed some I/O issues / oddities whilst running the v1309 scenario Dominic sent me:

- Octo-Tiger will always use the local ```./X.0.silo.data``` folder to load the scenario, even though the actual restart file (given by ```--restart_filename=/path/to/file```) and its respective X.0.silo.data folder is somewhere else. Right now, one has to remember to copy said folder into the directory f

[2020-10-09 14:12] diehlpk commented on #333
@dmarce1 Can you comment on these?

[2020-10-09 14:21] dmarce1 commented on #333
Gregor-

 I still need to update OctoTiger so the datadir is used for the input
file, it's not a bug just a feature not yet implemented. As far as the
timing of output goes it should print that out after reading the input
file. It's not included in the totals because for a production run the read
will take a trivial amount of time.

As for why it is taking so long with more threads I don't know. I

[2020-11-07 02:51] diehlpk opened #334 "[Summit] data has already been set for this future: HPX(promise_already_satisfied)"
Sometimes we get this error and I have to run the code again and it works

[code]

[2020-11-07 15:09] hkaiser commented on #334
@diehlpk I'm not sure what to do here. I would assume that the error message states what's wrong. This could be caused by a swallowed exception somewhere, or simply some logic error in octotiger. While everything is possible, I don't think that this is caused by a race in HPX as nothing would work if it were.

[2020-11-07 15:13] diehlpk commented on #334
@hkaiser Thanks

@dmarce1 and @G-071 Please have a look since this blocks me for running more scaling tests.

[2020-11-07 19:50] diehlpk opened #335 "Regrid issue"
Sometimes Octo-Tiger ends with

ERROR:  One or more process (first noticed rank 0) terminated with signal 11

Please find attached the full error log;

[code]

[2020-11-10 01:48] diehlpk commented on #335
[code]

[2020-11-10 01:51] diehlpk commented on #335
[code]

[2020-11-10 01:52] diehlpk commented on #335
[code]

[2020-11-11 17:03] diehlpk commented on #335
@dmarce1 Your latest fix addressed the bug and I can not see the bug anymore.

[2020-11-11 23:49] #335 closed

[2020-11-23 21:56] #326 closed

[2020-11-23 21:57] #334 closed

[2021-01-04 21:52] #310 closed

[2021-03-18 15:23] diehlpk opened #343 "silo comapre alwyas returns true"
## Expected Behavior

silo_compare should return -1 if the comparison fails

## Actual Behavior

silo_silo compare always returns 0

So all tests always pass

[2021-03-18 15:24] #309 closed

[2021-03-18 15:26] diehlpk commented on #333
@dmarce1 and @G-071 Can this issue be closed?

[2021-03-18 15:26] #329 closed

[2021-03-18 15:38] diehlpk opened #344 "blast test does not compile with kokkos"
## Expected Behavior

Test should compile

## Actual Behavior

[code]

## Steps to Reproduce the Problem

... Please be as specific as possible while describing how to reproduce your problem.

  1. Compile with `-DOCTOTIGER_WITH_BLAST_TEST=ON

## Specifications

... Please describe your environment

  - HPX Version:
  - Platform (compiler, OS): Power9 , gcc 8.1.1, CUDA 11

Note that it is importan

[2021-03-19 15:16] diehlpk commented on #344
This commit fixes the issue 48b71e4b07cc6a12f94ca2a7c250bf7d7b142162

[2021-03-19 15:16] #344 closed

[2021-03-19 18:16] diehlpk opened #345 "Hanging in boundary exchange on Power 9 and CUDA 11"
## Expected Behavior

v1309.ini and blast.ini should run without any issues.

## Actual Behavior

However, with the latest branch `summit_experimental` we run into the following error

[code]
Note that v1309.ini worked before with the same branch. The only thing changed from the compilation was the upgrade from CUDA 10 to CUDA 11 to get libquadmath working.

## Steps to Reproduce the Problem

...

[2021-03-22 16:47] diehlpk commented on #345
Ok, after a clean build of hpx, kokkos, and octo-tiger, I get some different error

---------------Created Level 3---------------

[code]

[2021-04-12 14:10] dmarce1 opened #346 "Octo-Tiger crashes on fist time-step inside of cuda_pinned_allocator"
## Expected Behavior

Expected the rotating star problem to run.

## Actual Behavior

Octo-Tiger crashes when starting up its first timestep here:
_Z19convert_x_structureIN8recycler6detail28aggressive_recycle_allocatorIdNS1_21cuda_pinned_allocatorIdEEEEEvRKSt6vectorIS6_IdSaIdEESaIS8_EERS6_IdT_E+0x18c

Use the summit build of octotiger, the repository rotating_star.ini. First you must produce the i

[2021-04-20 01:59] diehlpk opened #353 "Update Octo-Tiger to HPX 1.6"
Dominic,

@parsa updated the Docker image to HPX 1.6.0 which we will need for the Kokkos version soon. Can you please update the current master to compile with HPX 1.6.0

https://app.circleci.com/pipelines/github/STEllAR-GROUP/octotiger/547/workflows/dd108d45-dc84-4ca1-b018-6cab4a33d762/jobs/8233

[2021-04-25 17:47] diehlpk commented on #353
@dmarce1 Could you please update OctoTiger, so we can merge all the open pull requests?

[2021-06-02 13:51] #346 closed

[2021-07-06 16:41] #353 closed

[2021-07-06 16:41] diehlpk commented on #302
@dmarce1 Please close this issue once you submitted the JOSS paper.

[2021-07-06 16:42] diehlpk commented on #333
I will close that issue for now.

[2021-07-06 16:42] #333 closed

[2021-07-06 16:42] diehlpk commented on #343
I will close the issue for now.

[2021-07-06 16:42] #343 closed

[2021-07-06 16:43] #345 closed

[2021-07-17 17:29] shibersag opened #366 "Perpendicular velocities in the Sod problem should be zero"
## Expected Behavior

When running the Sod problem, velocities (and momentums) perpendicular to the shock should remain exactly zero, i.e. the -y and z velocities when the shock aligned across the x axis (which is the default behavior).

## Actual Behavior

When running on GPUs the perpendicular velocities have some small values.
This happened before when the hydro AM correction was set on, but wh

[2021-07-19 12:47] G-071 commented on #366
Interesting. This does not happen with the sod test that we have in the test problem's folder (though that one has a max_level=1).

As for the actual difference: It seems to be still within machine precision.

But it is odd: If you run the scenario for more time-steps with` --odt=1.00 --stop_time=1.21` get similar results with the CPU-only version on master as well as the benchmark version of Octo

[2021-07-21 19:50] #302 closed

[2021-07-23 15:18] shibersag commented on #366
We found out that specifying the runtime parameter:

cuda_buffer_capacity=1024

Can fix this bug in some cases.

For other cases you get sy zero as should be but sz still greater than zero.

This can imply that we have some other bug which may or may not be relevant to this particular bug.
A further investigation is need regarding the secondary issue.

[2021-10-22 21:28] diehlpk opened #380 "Octo-Tiger segfaults during refinement"
Octo-Tiger crashes for level 11 and level 12 at the following step

[code]
with the following error

[code]
and this is the back trace using the core file

[code]

[2021-10-29 16:25] diehlpk opened #383 "Add VTK output"
Since SILO is not so common, it would be of great interest to add VTK as some additional library. Many codes have VTK support since this format is much more common.

[2021-11-05 14:51] shibersag commented on #383
@diehlpk, @dmarce1, I do not completely agree that VTK is so common. I think we should use HDF5 instead.
Most of the astrophysical hydro codes use the HDF5 format. I put below a list of some of them:
Athena++, Pluto, Enzo, FLASH, Gadget, and Arepo.

There some other hydro codes that uses HDF5 as well but are less familiar.

I took this data from yt (a very common python package to analyze and visu

[2021-11-05 14:56] diehlpk commented on #383
@shibersag

[code]

I think we could use any format supported by Paraview.

[2021-11-06 00:52] diehlpk commented on #380
@dmarce1

[code]

[2021-11-08 02:57] diehlpk commented on #380
@dmarce1
[code]

[2021-11-08 16:31] diehlpk commented on #380
@dmarce1

[code]

[2021-11-08 17:34] diehlpk opened #384 "Compilation issues on Perlmutter"
## Expected Behavior

Octo-Tiger should compile as it was on Summit.

## Actual Behavior
[code]

## Steps to Reproduce the Problem

... Please be as specific as possible while describing how to reproduce your problem.

  1. Compile all dependencies
  1. Compile Octo-Tiger

## Specifications

... Please describe your environment

  - HPX Version: 1.6.0
  - Platform (compiler, OS): Perlmutter, Cray,

[2021-11-08 19:15] diehlpk commented on #380
@dmarce1 It seems the latest push addressed the bug

[code]

[2021-11-10 19:56] diehlpk commented on #384
It seems that CUDA 11.3.0 does not support Clang 12. Not much we can do right now.

[2021-11-10 19:56] #384 closed

[2021-11-11 22:08] diehlpk commented on #380
New error message

[code]

[2021-11-15 13:17] dmarce1 commented on #380
@G-071 I have tracked what may be causing this bug to the flux kernel. (It is a bug nonetheless even if it isn't the cause of this particular bug) Non NaNs are input into the flux kernel in U, but it returns NaNs in F. The branch trap_flux_bug contains traps to catch the NaNs. I am sending you an email with the restart files attached. You will need to change the restart_filename in dwd.ini to matc

[2021-11-17 19:22] G-071 commented on #380
@dmarce1 I have just pushed some commits to your trap_flux_bug branch! There was indeed an error in the flux kernel in one of the if branches. From what I can see, it got triggered by the parameter ``` --eos=WD``` in dwd.ini. It caused ```physics<NDIM>::A_``` being different than 0.0, see https://github.com/STEllAR-GROUP/octotiger/blob/c877a4a10337b323c04339642ac17ecd1bc0f9e8/src/grid.cpp#L1820

I

[2021-11-17 20:47] diehlpk commented on #380
@G-071 I tested your patch on Summit and now we get
[code]

[2021-11-17 20:51] diehlpk opened #385 "The main page of the documentation is broken"
https://stellar-group.github.io/octotiger/doc/html/

[2021-11-17 23:21] diehlpk commented on #380
It seems that Gregor's patch solved the problem and the code is running.

[2021-11-18 20:35] diehlpk commented on #380
Ok, I think Gregor's patch fixed the problem partially and for some runs, the code crashes with

[code]

[2021-11-18 20:36] diehlpk commented on #380
@dmarce1 Can you please have a look?

[2021-11-18 21:13] #383 closed

[2021-11-18 21:13] diehlpk commented on #380
Here is the bt

[code]

[2021-11-19 20:28] diehlpk commented on #380
thread apply all bt

[Uploading gdb.txt…]()

[2021-11-22 14:53] shibersag commented on #366
I tried PR#376, and the hydro_host_kernel_type=DEVICE_ONLY seems to work well.
I tested cases of a uniform grid as the Sod tests in the benchmarks paper have been done with a uniform grid only.

However, when the simulation is performed on a long test both on CPU+GPU the errors are adding up well above machine-precision. I attach below config files and outputs for the two cases (run on CPU+GPU and

[2021-11-22 15:38] G-071 commented on #366
@shibersag
Was Octo-Tiger recompiled with OCTOTIGER_WITH_FAST_FP_CONTRACT=OFF for the CPU+GPU run?

[2021-11-22 15:50] shibersag commented on #366
I didn't test those FAST_FP flags yet, that would be my next step. I just used the default value which I think is ON

[2021-11-29 16:10] shibersag commented on #366
Compiling with OCTOTIGER_WITH_FAST_FP_CONTRACT=OFF also fixes this issue and the running time is not by much longer. I attach config file and output below.

ini file -
problem=sod
odt=0.02
stop_time=20
#stop_step=200
gravity=off
max_level=4
unigrid=1
#disable_diagnostics=on
xscale=0.5
correct_am_hydro=0
reflect_bc=1
n_species=1
cuda_number_gpus=1
cuda_streams_per_gpu=32
cuda_buffer_capacity=1
mono

[2021-11-29 16:22] G-071 commented on #366
@shibersag

Should we enforce that Octo-Tiger was compiled with OCTOTIGER_WITH_FAST_FP_CONTRACT=OFF in case both CPU and GPU kernels are active (i.e. DEVICE_ONLY is not used)? I can add a check for that at the application startup when the options are processed. That would be a simple modification in PR #376

[2021-11-29 17:44] shibersag commented on #366
I also made some tests with Kokkos, where we basically see the same behavior. When running only on CPUs or only on GPUs, the velocities are zeros, otherwise they have some non-zero values which seem to increase with time.

It is also interesting to note, though unrelated to this particular issue, that the Kokkos runs have longer running times compare to Cuda runs (and compare to Vc in the CPUs onl

[2021-12-02 15:54] shibersag commented on #366
@G-071,
Sure, sounds good, Let's add this check

[2021-12-03 12:38] G-071 commented on #366
Done!

[2021-12-03 17:02] diehlpk commented on #380
I will close the issue since we do not run on Summit anymore.

[2021-12-03 17:02] #380 closed

[2021-12-03 17:05] diehlpk opened #392 "Octo-Tiger works well with CPU but crashes with GPU"
Running the level 10 dwd.ini from the beginning, not using GPUs, does work

`srun /pscratch/sd/d/diehlpk/OctoTigerBuildChain/build/octotiger/build-kokkos/octotiger -Ihpx.stacks.use_guard_pages=0  --config_file=dwd.ini --monopole_host_kernel_type=KOKKOS --multipole_host_kernel_type=KOKKOS --monopole_device_kernel_type=KOKKOS_CUDA --multipole_device_kernel_type=KOKKOS_CUDA --hydro_device_kernel_type

[2021-12-03 17:08] diehlpk commented on #392
Some additional error message

[code]

[2021-12-03 20:54] diehlpk commented on #392
@hkaiser Any idea?

[2021-12-06 14:43] diehlpk commented on #366
@dmarce1 and @shibersag could we try to finish this pull request by Firday?

[2021-12-06 17:37] shibersag commented on #366
@G-071, should I do anymore tests before closing this issue?

[2021-12-07 12:58] G-071 commented on #366
@shibersag Only if you noticed anything odd during you previous tests that calls for more tests :-)

From my end, the smaller tests I ran (and that are now run each commit via Jenkins) look alright at least!

[2021-12-07 16:52] shibersag commented on #366
Resolved by PR #376

[2021-12-07 16:52] #366 closed

[2021-12-09 17:22] diehlpk commented on #392
[code]

[2021-12-09 21:27] diehlpk commented on #392
@G-071 Running the CUDA and LEGACY kernels and the above error vanishes.

[2021-12-10 10:32] G-071 commented on #392
@diehlpk So it does it only happen with the HPX 1.7.1 build, but not with 1.6.0 build (without #390 ?) and only with Kokkos?

Which Kokkos commit are you using? Specifically, you use the Commit from the Kokkos PR as outlined in #390?
Further, can you run ```ctest --ouput-on-failure``` on a single compute node and send me the log? (seeing which tests exactly fail might give me an idea what's going

[2021-12-10 12:58] diehlpk commented on #392
@G-071 Yes, I use HPX 1.7.1 with the #390 branch of Octotiger.

I use the Kokkos and HPX version from the build chain.

Yes, I still use the Kokkos version, but change the command line parameters.

[2021-12-10 13:49] G-071 commented on #392
Do you use STEllAR-GROUP/OctoTigerBuildChain#12 for the build chain as well? Otherwise it'll be the wrong Kokkos version! Note, in case you ever switched from the main build chain to the PR version, you need to delete src/kokkos for it to check out the correct Kokkos version (i.e. the Fork with the PR for now). The Kokkos commit should be msimberg/kokkos@f801c6fe5ddfc02697cc02ea65841a63bfc37420

[2021-12-16 18:30] diehlpk commented on #392
@G-071 Yes, I use the correct versions. Let us work on that ticket once, I collected all the results for the upcoming paper.

[2022-01-28 19:16] shibersag opened #402 "Adding an equation of state that includes radiation pressure"
Currently, Octo-Tiger implements two types of equation of states (EoSs):
1. Ideal - Only gas (matter) contributes to the pressure (i.e. thermal pressure). The gas is assumed to be an ideal gas with some adiabatic index \gamma. If this EoS is used with \epsilon=1, it can also function as a polytropic EoS.
2. WD - zero-temperature white dwarf EoS. In addition to thermal pressure it includes pressure

[2022-02-09 21:08] shibersag commented on #402
I wrote a first implementation of this equation of state (IPR, ideal plus radiation). It is currently on eos_ideal_rad branch.
@dmarce1 , @G-071 , would you mind taking a look?
I'm currently running a simulation of massive binary with this implementation.
I'll see how this simulation evolves.

[2022-02-09 21:14] shibersag commented on #402
I would just say that with the current implementation there is a problem with the silo output.
Since the pressure is no longer an analytic expression of the energy, the pressure and temperature that Octo-tiger outputs in the silo files is incorrect.
@dmarce1 Should we add another field to store the correct pressure (or temperature)?

[2022-02-09 21:15] G-071 commented on #402
@shibersag
Is there a good scenario we can use to test it with our Jenkins Pipeline? Once you and @dmarce1 judge the implementation to be correct, we should immediately set up the tests to check all further PRs to avoid it breaking when we start optimizing the performance/add more features.

When you open the PR and give me the scenario parameters I can set up such a test and the respective Jenkin

[2022-02-09 21:20] shibersag commented on #402
@G-071
That is a good idea.
Once we will have the first prototype, we can set-up a test. I'm not sure though how small this test can be.
I will have to see.
BTW, do we have any test for eos=WD right now?

[2022-02-09 21:28] G-071 commented on #402
@shibersag Only a very basic one where I changed the rotating_star to this eos. It is sensitive enough to be triggered by the bug we fixed in #387, but I wouldn't mind getting a better/larger test scenario for that!

[2022-03-02 15:22] shibersag commented on #402
@G-071 , @dmarce1, The ipr eos is quite ready.
Please have a look on the eos_ideal_rad branch and have your comments.
I ended up using the tau variable field to store the temperature in order for the output silo files to have all the necessary correct data.
In case we will find a way to incorporate the dual-energy formalism within the apr eos this will have to be changed.

I also added a floor den

[2022-04-06 18:59] G-071 opened #415 "lx ly lz fields differ betweens machines when using the STAR scenario"
The fields lx ly lz do not match for runs between different machines (or different gravity kernels for that matter) for the STAR scenario given the parameters used in EOS IPR tests added in #414 .

Suggested actions:
- Long-term: We should either remove the lx ly lz (from what I've gathered during the meetings, these fields aren't used anymore anyway) or fix it. Feel free to discuss whether we sho

[2022-04-07 02:17] diehlpk commented on #402
#refs  #414

[2022-04-13 16:38] diehlpk commented on #402
@shibersag can this be closed, if so please do?

[2022-05-16 01:48] #392 closed

[2022-05-16 01:49] diehlpk opened #420 "Update build image"
https://github.com/STEllAR-GROUP/octotiger/blob/master/tools/docker/base_image/prerequisites-gcc.dockerfile

Update the boost and HPX version in the Docker image to 1.8.0 and 1.78.0.

[2022-05-16 01:51] diehlpk commented on #415
@G-071 Is that still on?

[2022-05-16 01:59] diehlpk opened #421 "Debug not working"
First, the `--debug=true` option is not supported

[code]

Second, if I set the option's default to true and recompile, the code is still hanging but no new debug output is printed.

[2022-05-16 01:59] diehlpk commented on #421
The branch is

https://github.com/STEllAR-GROUP/octotiger/tree/add_debug_output

[2022-05-16 14:31] shibersag commented on #402
I need to do some more testing before closing it

[2022-06-27 15:48] #421 closed

[2022-09-07 18:30] #420 closed

[2022-09-07 18:32] diehlpk opened #430 "Floating point exeption for DWD using SVE on Fugaku"
## Expected Behavior

The DWD run should finish

## Actual Behavior

However, we get a floating point exception using the more block branch.

[code]

## Steps to Reproduce the Problem

... Please be as specific as possible while describing how to reproduce your problem.

  1. Compile Octo-Tiger more_block using STD - SVE

## Specifications

... Please describe your environment

  - HPX Version: 1.